<!--style="position: relative; z-index: 0; background-image: none; background-attachment: scroll; background-size: auto;"-->
<div class="main-banner-section jarallax" data-jarallax="{&quot;speed&quot;: 0.3}" data-jarallax-original-styles="null">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12">
            <div class="banner-content"><h1>Easy, fee-free banking for entrepreneurs</h1>
              <p>Get the financial tools and insights to start, build, and grow your business.</p><a
                href="#"
                class="btn btn-primary">Learn More</a></div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="money-transfer-form">
              <form>
                <div class="form-group"><label>You Send</label>
                  <div class="money-transfer-field"><input class="form-control" autocomplete="off"
                                                           value="1,000">
                    <div class="amount-currency-select"><select style="display: none;">
                      <option>USD</option>
                      <option>EUR</option>
                      <option>GBP</option>
                      <option>BRL</option>
                    </select>
                      <div class="nice-select" tabindex="0"><span class="current">AZN</span>
                        <ul class="list">
                          <li data-value="USD" class="option selected">AZN</li>
                          <li data-value="USD" class="option ">USD</li>
                          <li data-value="EUR" class="option">EUR</li>
                          <li data-value="GBP" class="option">GBP</li>
                          <li data-value="BRL" class="option">RUB</li>
                          <li data-value="BRL" class="option">TRY</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="currency-info">
                  <div class="bar"></div>
                  <span><strong>62.3</strong> Exchange Rate</span> <span><strong>$4.50</strong> Transition Fees</span>
                </div>
                <div class="form-group"><label>Recipient gets</label>
                  <div class="money-transfer-field"><input class="form-control" autocomplete="off"
                                                           value="1,000">
                    <div class="amount-currency-select"><select style="display: none;">
                      <option>USD</option>
                      <option>EUR</option>
                      <option>GBP</option>
                      <option>BRL</option>
                    </select>
                      <div class="nice-select" tabindex="0"><span class="current">USD</span>
                        <ul class="list">
                          <li data-value="USD" class="option">AZN</li>
                          <li data-value="USD" class="option selected">USD</li>
                          <li data-value="EUR" class="option">EUR</li>
                          <li data-value="GBP" class="option">GBP</li>
                          <li data-value="BRL" class="option">RUB</li>
                          <li data-value="BRL" class="option">TRY</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="money-transfer-info">
                  <span>You could save vs banks <strong>1,010.32 USD</strong></span></div>
                <button type="submit" class="btn btn-primary">Get Started</button>
                <div class="terms-info"><p>By clicking continue, I am agree with <a
                  href="#">Terms &amp;
                  Policy</a></p></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="jarallax-container-0"
       style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
    <div
      style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;/asset123s/img/main-banner2.jpg&quot;);
      position: fixed; top: 0px; left: 0px; width: 1962.67px; height: 920px; overflow: hidden; pointer-events: none; margin-left: -29.8333px; margin-top: 0px; visibility: visible; transform: translateY(0px) translateZ(0px);"></div>
  </div>
</div>
<section class="featured-boxes-area">
  <div class="container">
    <div class="featured-boxes-inner">
      <div class="row m-0">
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-box">
            <div class="icon color-fb7756"><i class="flaticon-piggy-bank"></i></div>
            <h3>Transparent Pricing</h3>
            <p>Lorem ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a
            href="/features-1.html" class="read-more-btn">Read
            More</a></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-box">
            <div class="icon color-facd60"><i class="flaticon-data-encryption"></i></div>
            <h3>Fully Encrypted</h3>
            <p>Lorem ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a
            href="/features-1.html" class="read-more-btn">Read
            More</a></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-box">
            <div class="icon color-1ac0c6"><i class="flaticon-wallet"></i></div>
            <h3>Instant Cashout</h3>
            <p>Lorem ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a
            href="/features-1.html" class="read-more-btn">Read
            More</a></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-box">
            <div class="icon"><i class="flaticon-shield"></i></div>
            <h3>Safe and Secure</h3>
            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a
            href="/features-1.html" class="read-more-btn">Read
            More</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="how-it-works-area ptb-70">
  <div class="container">
    <div class="section-title"><h2>How Luvion Works</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p></div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works"><img
          src="./assets/img/1.png" alt="image">
          <h3>1. Register for free</h3>
          <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing
            aliqua.</p></div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works"><img
          src="./assets/img/2.png" alt="image">
          <h3>2. Choose an amount to send</h3>
          <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing
            aliqua.</p></div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works"><img
          src="./assets/img/3.png" alt="image">
          <h3>3. Add recipient’s bank details</h3>
          <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing
            aliqua.</p></div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works"><img
          src="./assets/img/4.png" alt="image">
          <h3>4. Verify your identity</h3>
          <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing
            aliqua.</p></div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works"><img
          src="./assets/img/5.png" alt="image">
          <h3>5. Pay for your transfer</h3>
          <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing
            aliqua.</p></div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="single-how-it-works"><img
          src="./assets/img/6.png" alt="image">
          <h3>6. That’s it</h3>
          <p>Ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel adipiscing
            aliqua.</p></div>
      </div>
    </div>
  </div>
</section>
<section class="services-area ptb-70 pt-0">
  <div class="container-fluid p-0">
    <div class="overview-box">
      <div class="overview-content">
        <div class="content left-content"><span class="sub-title">Fast &amp; Easy Online Banking</span>
          <h2>Freelancers, entrepreneurs, and sole traders</h2>
          <div class="bar"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
          <ul class="features-list">
            <li><span><i class="flaticon-check-mark"></i> Free plan available</span></li>
            <li><span><i class="flaticon-check-mark"></i> Full data privacy compliance</span></li>
            <li><span><i class="flaticon-check-mark"></i> 100% transparent costs</span></li>
            <li><span><i class="flaticon-check-mark"></i> Commitment-free</span></li>
            <li><span><i class="flaticon-check-mark"></i> Real-time spending overview</span></li>
            <li><span><i class="flaticon-check-mark"></i> Debit Mastercard included</span></li>
          </ul>
          <a href="#" class="btn btn-primary">Apply
            Now</a></div>
      </div>
      <div class="overview-image">
        <div class="image"><img
          src="./assets/img/4.jpg" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services-area ptb-70 bg-f7fafd">
  <div class="container-fluid p-0">
    <div class="overview-box">
      <div class="overview-image">
        <div class="image"><img
          src="./assets/img/5(1).png"
          alt="image">
          <div class="circle-img"><img
            src="./assets/img/circle.png"
            alt="image"></div>
        </div>
      </div>
      <div class="overview-content">
        <div class="content"><span class="sub-title">Top Security</span>
          <h2>Small- to medium-sized businesses</h2>
          <div class="bar"></div>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, lorem ipsum dolor sit amet,
            consectetur adipiscing elit.</p>
          <ul class="features-list">
            <li><span><i class="flaticon-check-mark"></i> Easy transfers</span></li>
            <li><span><i class="flaticon-check-mark"></i> Deposit checks instantly</span></li>
            <li><span><i class="flaticon-check-mark"></i> A powerful open API</span></li>
            <li><span><i class="flaticon-check-mark"></i> Coverage around the world</span></li>
            <li><span><i class="flaticon-check-mark"></i> Business without borders</span></li>
            <li><span><i class="flaticon-check-mark"></i> Affiliates and partnerships</span></li>
          </ul>
          <a href="#" class="btn btn-primary">Get
            Started</a></div>
      </div>
    </div>
  </div>
</section>
<section class="services-area ptb-70">
  <div class="container-fluid p-0">
    <div class="overview-box">
      <div class="overview-content">
        <div class="content left-content"><span class="sub-title">Price Transparency</span>
          <h2>Large or enterprise level businesses</h2>
          <div class="bar"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
          <ul class="features-list">
            <li><span><i class="flaticon-check-mark"></i> Corporate Cards</span></li>
            <li><span><i class="flaticon-check-mark"></i> International Payments</span></li>
            <li><span><i class="flaticon-check-mark"></i> Automated accounting</span></li>
            <li><span><i class="flaticon-check-mark"></i> Request Features</span></li>
            <li><span><i class="flaticon-check-mark"></i> Premium Support</span></li>
            <li><span><i class="flaticon-check-mark"></i> Direct Debit</span></li>
          </ul>
          <a href="#" class="btn btn-primary">Create
            Account</a></div>
      </div>
      <div class="overview-image">
        <div class="image"><img
          src="./assets/img/6.jpg" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services-area ptb-70 bg-f7fafd">
  <div class="container-fluid p-0">
    <div class="overview-box">
      <div class="overview-image">
        <div class="image"><img
          src="./assets/img/7.jpg" alt="image">
        </div>
      </div>
      <div class="overview-content">
        <div class="content"><span class="sub-title">Automated Accounting</span>
          <h2>Save 24 hours per week on accounting</h2>
          <div class="bar"></div>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, lorem ipsum dolor sit amet,
            consectetur adipiscing elit.</p>
          <ul class="features-list">
            <li><span><i class="flaticon-check-mark"></i> Easy transfers</span></li>
            <li><span><i class="flaticon-check-mark"></i> Deposit checks instantly</span></li>
            <li><span><i class="flaticon-check-mark"></i> A powerful open API</span></li>
            <li><span><i class="flaticon-check-mark"></i> Coverage around the world</span></li>
            <li><span><i class="flaticon-check-mark"></i> Business without borders</span></li>
            <li><span><i class="flaticon-check-mark"></i> Affiliates and partnerships</span></li>
          </ul>
          <a href="#" class="btn btn-primary">Learn
            More</a></div>
      </div>
    </div>
  </div>
</section>
<section class="comparisons-area ptb-70 bg-f6f4f8">
  <div class="container">
    <div class="section-title"><h2>Compare us with others</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p></div>
    <div class="comparisons-table table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Packages</th>
          <th scope="col">Freelancer</th>
          <th scope="col">Householder</th>
          <th scope="col">Business Man</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Control payout timing</td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
        </tr>
        <tr>
          <td>Transparent payouts</td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-cancel"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
        </tr>
        <tr>
          <td>Automate evidence submission</td>
          <td><i class="flaticon-cancel"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
        </tr>
        <tr>
          <td>Collaboration notes</td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-cancel"></i></td>
          <td><i class="flaticon-cancel"></i></td>
        </tr>
        <tr>
          <td>Deposit tagging</td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-cancel"></i></td>
        </tr>
        <tr>
          <td>Technical support over IRC</td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
        </tr>
        <tr>
          <td>24×7 support</td>
          <td><i class="flaticon-cancel"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
          <td><i class="flaticon-check-mark"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="features-section ptb-70 bg-f7fafd">
  <div class="container">
    <div class="section-title"><h2>Our Features</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p></div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12">
        <div class="features-box-list">
          <div class="row">
            <div class="col-lg-12 col-sm-6 col-md-6">
              <div class="features-box">
                <div class="icon"><i class="flaticon-settings"></i></div>
                <h3>Incredible infrastructure</h3>
                <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore
                  magna aliqua.</p></div>
            </div>
            <div class="col-lg-12 col-sm-6 col-md-6">
              <div class="features-box">
                <div class="icon bg-f78acb"><i class="flaticon-envelope-of-white-paper"></i></div>
                <h3>Email notifications</h3>
                <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore
                  magna aliqua.</p></div>
            </div>
            <div class="col-lg-12 col-sm-6 col-md-6">
              <div class="features-box">
                <div class="icon bg-cdf1d8"><i class="flaticon-menu"></i></div>
                <h3>Simple dashboard</h3>
                <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore
                  magna aliqua.</p></div>
            </div>
            <div class="col-lg-12 col-sm-6 col-md-6">
              <div class="features-box">
                <div class="icon bg-c679e3"><i class="flaticon-info"></i></div>
                <h3>Information retrieval</h3>
                <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore
                  magna aliqua.</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="features-image"><img
          src="./assets/img/features-img1.png"
          alt="image"></div>
      </div>
    </div>
  </div>
</section>
<section class="invoicing-area ptb-70">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="invoicing-content"><h2>Easy Payment to borrow free get a better filling at home</h2>
          <div class="bar"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip.</p><a
            href="#" class="btn btn-primary">Get
            Started</a></div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="invoicing-image">
          <div class="main-image"><img
            src="./assets/img/1(1).png"
            class="wow zoomIn" data-wow-delay="0.7s" alt="image"
            style="visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;"> <img
            src="./assets/img/2(1).png"
            class="wow fadeInLeft" data-wow-delay="1s" alt="image"
            style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;"> <img
            src="./assets/img/3(1).png"
            class="wow fadeInLeft" data-wow-delay="1.3s" alt="image"
            style="visibility: visible; animation-delay: 1.3s; animation-name: fadeInLeft;"> <img
            src="./assets/img/4(1).png"
            class="wow fadeInRight" data-wow-delay="1s" alt="image"
            style="visibility: visible; animation-delay: 1s; animation-name: fadeInRight;"></div>
          <div class="main-mobile-image"><img
            src="./assets/img/main-pic.png"
            class="wow zoomIn" data-wow-delay="0.7s" alt="image"
            style="visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;"></div>
          <div class="circle-image"><img
            src="./assets/img/circle1.png"
            alt="image"> <img
            src="./assets/img/circle2.png"
            alt="image"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="funfacts-area ptb-70 pt-0">
  <div class="container">
    <div class="section-title"><h2>We always try to understand customers expectation</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p></div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-md-3 col-6">
        <div class="funfact">
          <h3><span class="odometer odometer-auto-theme" data-count="180"><div class="odometer-inside"><span
            class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
            class="odometer-digit-inner"><span class="odometer-ribbon"><span
            class="odometer-ribbon-inner"><span
            class="odometer-value">0</span></span></span></span></span></div></span>K
          </h3>
          <p>Downloaded</p></div>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 col-6">
        <div class="funfact">
          <h3><span class="odometer odometer-auto-theme" data-count="20"><div class="odometer-inside"><span
            class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
            class="odometer-digit-inner"><span class="odometer-ribbon"><span
            class="odometer-ribbon-inner"><span
            class="odometer-value">0</span></span></span></span></span></div></span>K
          </h3>
          <p>Feedback</p></div>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 col-6">
        <div class="funfact">
          <h3><span class="odometer odometer-auto-theme" data-count="500"><div class="odometer-inside"><span
            class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
            class="odometer-digit-inner"><span class="odometer-ribbon"><span
            class="odometer-ribbon-inner"><span
            class="odometer-value">0</span></span></span></span></span></div></span>+
          </h3>
          <p>Workers</p></div>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 col-6">
        <div class="funfact">
          <h3><span class="odometer odometer-auto-theme" data-count="70"><div class="odometer-inside"><span
            class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
            class="odometer-digit-inner"><span class="odometer-ribbon"><span
            class="odometer-ribbon-inner"><span
            class="odometer-value">0</span></span></span></span></span></div></span>+
          </h3>
          <p>Contrubutors</p></div>
      </div>
    </div>
    <div class="contact-cta-box"><h3>Have any question about us?</h3>
      <p>Don't hesitate to contact us</p><a href="#"
                                            class="btn btn-primary">Contact Us</a></div>
    <div class="map-bg"><img src="./assets/img/map.png"
                             alt="map"></div>
  </div>
</section>
<section class="feedback-area ptb-70 bg-f7fafd">
  <div class="container">
    <div class="section-title"><h2>What customers say about Us</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p></div>
    <div class="feedback-slides">
      <div class="client-feedback">
        <div class="slick-initialized slick-slider">
          <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" role="listbox" style="opacity: 1; width: 6000px;">
              <div class="item slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide00"
                   style="width: 750px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms linear 0s;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/1.jpg"
                    alt="image"></div>
                  <h3>John Lucy</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
              <div class="item slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide01"
                   style="width: 750px; position: relative; left: -750px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms linear 0s;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/2.jpg"
                    alt="image"></div>
                  <h3>John Smith</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
              <div class="item slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide02"
                   style="width: 750px; position: relative; left: -1500px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms linear 0s;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/3.jpg"
                    alt="image"></div>
                  <h3>Maxwel Warner</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
              <div class="item slick-slide slick-current slick-active" data-slick-index="3"
                   aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide03"
                   style="width: 750px; position: relative; left: -2250px; top: 0px; z-index: 999; opacity: 1;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/4(2).jpg"
                    alt="image"></div>
                  <h3>Ross Taylor</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
              <div class="item slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide04"
                   style="width: 750px; position: relative; left: -3000px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms linear 0s;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/5.jpg"
                    alt="image"></div>
                  <h3>James Anderson</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
              <div class="item slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide05"
                   style="width: 750px; position: relative; left: -3750px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms linear 0s;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/1.jpg"
                    alt="image"></div>
                  <h3>Steven Smith</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
              <div class="item slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide06"
                   style="width: 750px; position: relative; left: -4500px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms linear 0s;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/2.jpg"
                    alt="image"></div>
                  <h3>Steven Lucy</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
              <div class="item slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide07"
                   style="width: 750px; position: relative; left: -5250px; top: 0px; z-index: 998; opacity: 0; transition: opacity 300ms linear 0s;">
                <div class="single-feedback">
                  <div class="client-img"><img
                    src="./assets/img/3.jpg"
                    alt="image"></div>
                  <h3>John Terry</h3><span>Web Developer</span>
                  <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                    lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="client-thumbnails">
        <div class="slick-initialized slick-slider">
          <div aria-live="polite" class="slick-list" style="padding: 0px 50px;">
            <div class="slick-track" role="listbox"
                 style="opacity: 1; width: 1920px; transform: translate3d(-672px, 0px, 0px);">
              <div class="item slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/3.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/4(2).jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/5.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/1.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/2.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/3.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide10" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/1.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                   tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/2.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                   tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/3.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-current slick-active slick-center" data-slick-index="3"
                   aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide13"
                   style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/4(2).jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-active" data-slick-index="4" aria-hidden="false"
                   tabindex="-1" role="option" aria-describedby="slick-slide14" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/5.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-active" data-slick-index="5" aria-hidden="false"
                   tabindex="-1" role="option" aria-describedby="slick-slide15" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/1.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide16" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/2.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1"
                   role="option" aria-describedby="slick-slide17" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/3.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="8" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/1.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="9" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/2.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="10" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/3.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="11" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/4(2).jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="12" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/5.jpg"
                  alt="client"></div>
              </div>
              <div class="item slick-slide slick-cloned" data-slick-index="13" aria-hidden="true"
                   tabindex="-1" style="width: 96px;">
                <div class="img-fill"><img
                  src="./assets/img/1.jpg"
                  alt="client"></div>
              </div>
            </div>
          </div>
        </div>
        <button class="prev-arrow slick-arrow" style="display: block;"><i class="fas fa-arrow-left"></i>
        </button>
        <button class="next-arrow slick-arrow" style="display: block;"><i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="ready-to-talk">
  <div class="container">
    <div class="ready-to-talk-content"><h3>Ready to talk?</h3>
      <p>Our team is here to answer your question about Luvion</p><a
        href="#" class="btn btn-primary">Contact
        Us</a> <span><a href="#">Or, get started now with a free trial</a></span>
    </div>
  </div>
</section>
<div class="partner-area">
  <div class="container"><h3>More that 1.5 million businesses and organizations use Luvion</h3>
    <div class="partner-inner">
      <div class="row align-items-center">
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-1.png"
          alt="partner"><img
          src="./assets/img/partner-hover1.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-2.png"
          alt="partner"><img
          src="./assets/img/partner-hover2.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-3.png"
          alt="partner"><img
          src="./assets/img/partner-hover3.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-4.png"
          alt="partner"><img
          src="./assets/img/partner-hover4.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-5.png"
          alt="partner"><img
          src="./assets/img/partner-hover5.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-6.png"
          alt="partner"><img
          src="./assets/img/partner-hover6.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-7.png"
          alt="partner"><img
          src="./assets/img/partner-hover7.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-8.png"
          alt="partner"><img
          src="./assets/img/partner-hover8.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-9.png"
          alt="partner"><img
          src="./assets/img/partner-hover9.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-10.png"
          alt="partner"><img
          src="./assets/img/partner-hover10.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-11.png"
          alt="partner"><img
          src="./assets/img/partner-hover11.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-12.png"
          alt="partner"><img
          src="./assets/img/partner-hover12.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-13.png"
          alt="partner"><img
          src="./assets/img/partner-hover13.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-14.png"
          alt="partner"><img
          src="./assets/img/partner-hover14.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-15.png"
          alt="partner"><img
          src="./assets/img/partner-hover15.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-16.png"
          alt="partner"><img
          src="./assets/img/partner-hover16.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-17.png"
          alt="partner"><img
          src="./assets/img/partner-hover17.png"
          alt="partner"></a></div>
        <div class="col-lg-2 col-sm-4 col-md-3 col-6"><a
          href="#"><img
          src="./assets/img/partner-18.png"
          alt="partner"><img
          src="./assets/img/partner-hover18.png"
          alt="partner"></a></div>
      </div>
    </div>
  </div>
</div>
<section class="app-download-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="app-image">
          <div class="main-image"><img
            src="./assets/img/mobile-app1.png"
            class="wow fadeInLeft" data-wow-delay="0.6s" alt="image"
            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;"> <img
            src="./assets/img/mobile-app2.png"
            class="wow fadeInUp" data-wow-delay="0.9s" alt="image"
            style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;"></div>
          <div class="main-mobile-image"><img
            src="./assets/img/main-mobile.png"
            class="wow fadeInUp" data-wow-delay="0.6s" alt="image"
            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"></div>
          <div class="circle-img"><img
            src="./assets/img/circle.png"
            alt="image"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="app-download-content"><h2>You can find all the thing you need to payout</h2>
          <div class="bar"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip.</p>
          <div class="btn-box"><a href="#"
                                  class="app-store-btn"> <i class="flaticon-apple"></i> Download on <span>App Store</span>
          </a> <a href="#" class="play-store-btn">
            <i class="flaticon-play-store"></i> Download on <span>Google play</span> </a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-area ptb-70 pt-0">
  <div class="container">
    <div class="section-title"><h2>The News from Our Blog</h2>
      <div class="bar"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p></div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-post">
          <div class="blog-image"><a href="#"><img
            src="./assets/img/1(2).jpg"
            alt="image"></a>
            <div class="date"><i class="far fa-calendar-alt"></i> September 15, 2019</div>
          </div>
          <div class="blog-post-content"><h3><a
            href="#">The security risks of
            changing package owners</a></h3><span>by <a
            href="#">admin</a></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p><a
              href="#"
              class="read-more-btn">Read More <i class="fas fa-arrow-right"></i></a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-post">
          <div class="blog-image"><a href="#"><img
            src="./assets/img/2(2).jpg"
            alt="image"></a>
            <div class="date"><i class="far fa-calendar-alt"></i> September 17, 2019</div>
          </div>
          <div class="blog-post-content"><h3><a
            href="#">Tips to Protecting
            Business and Family</a></h3><span>by <a
            href="#">admin</a></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p><a
              href="#"
              class="read-more-btn">Read More <i class="fas fa-arrow-right"></i></a></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="single-blog-post">
          <div class="blog-image"><a href="#"><img
            src="./assets/img/3(2).jpg"
            alt="image"></a>
            <div class="date"><i class="far fa-calendar-alt"></i> September 19, 2019</div>
          </div>
          <div class="blog-post-content"><h3><a
            href="#">Protect Your Workplace
            from Cyber Attacks</a></h3><span>by <a
            href="#">admin</a></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p><a
              href="#"
              class="read-more-btn">Read More <i class="fas fa-arrow-right"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="account-create-area">
  <div class="container">
    <div class="account-create-content"><h2>Apply for an account in minutes</h2>
      <p>Get your Luvion account today!</p><a href="#"
                                              class="btn btn-primary">Get Your Luvion Account</a></div>
  </div>
</section>
